.go-to-top-button > button{
  display: none;
  position: fixed;
  right: 15px;
  width: 65px;
  z-index: 99; /*So button is always on top of elements*/
  cursor: pointer;
  border: none;
  border-radius: 10px;/*To make button round*/
  bottom: 2px;
}